@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #fff; /* Fond général clair */
  color: #1f2123; /* Couleur du texte par défaut en mode clair */
  transition: background-color 0.3s, color 0.3s;
  background: url(https://media.tenor.com/nANqORN7qhQAAAAM/explosion-explode.gif);
  background-size: cover;
  background-position: 250px;
}

body.dark-mode {
  background-color: #1f2123; /* Fond général sombre */
  color: #a770eb; /* Couleur du texte en violet en mode sombre */
}

header {
  background: #4A148C;
  padding: 10px 0;
}

header.dark-mode {
  background-color: #333; /* Fond de l'en-tête en mode sombre */
}

.menu {
  display: flex;
  justify-content: center; /* Centre le menu horizontalement */
  list-style-type: none; /* Supprime les puces de la liste */
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 20px; /* Espacement entre les éléments de menu */
}

.menu a {
  text-decoration: none; /* Supprime le soulignement des liens */
  color: #000; /* Couleur des liens */
}

.menu a:hover {
  color: #007BFF; /* Couleur au survol */
}

.dropdown-content {
  display: none; /* Cacher le contenu du dropdown par défaut */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block; /* Afficher le contenu du dropdown au survol */
}

/* Styles pour le menu déroulant */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropbtn {
  cursor: pointer;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 4px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4A148C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #6A1B9A;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-icon {
  width: 24px;
  height: auto;
}

#toggle-theme {
  background: transparent;
  border: none;
  color: #a770eb;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Styles pour le tableau */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff; /* Fond du tableau en mode clair */
  color: #1f2123; /* Couleur du texte en mode clair */
}

body.dark-mode table {
  background-color: #1f2123; /* Fond du tableau en mode sombre */
  color: #a770eb; /* Couleur du texte du tableau en violet en mode sombre */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4A148C;
  color: #fff;
}

img[usemap="#image-map"] {
    width: 100%;
    height: auto;
}

/* Effet de flamme pour le bouton CV */
.dropdown-content a[href="cv.html"]::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 50px;
  height: 50px;
  background: url('https://media.tenor.com/PNI7UQCnMPgAAAAM/fire-flame.gif') no-repeat center;
  background-size: cover;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropdown-content a[href="cv.html"]:hover::after {
  opacity: 1;
}

/* Classes fixes */
.flame {
  position: absolute;
  right: 0;
  top: 550px;
}

.johnny {
  position: fixed;
  margin-left: 30%;
  bottom: 40%;
}

.biker {
  position: fixed;
}

.fireworkd {
  position: fixed;
  right: 0;
}

/* Positionnement de la flamme sous le lien */
.flame-container {
  position: relative;
  display: inline-block;
}

.flame-gif {
  position: absolute;
  align-items: left;
  left: -10px;
  transform: translateX(-50%);
  bottom: -13px ; /* Ajuste la hauteur pour placer la flamme juste en dessous */
  width: 150px ; /* Largeur de la flamme */
  height: 20px; /* Hauteur de la flamme */
}

.dropdown-content a:hover .flame-gif {
  display: block; /* Affiche la flamme au survol */
}

/* Styles pour le drapeau qui tourne */
.flag-icon {
  width: 30px ; /* Taille du drapeau */
  height: auto;
  margin-left: 5px; /* Espace entre le texte "Mon CV" et le drapeau */
  animation: spin 2s linear infinite; /* Animation de rotation */
}

/* Animation de rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}